NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_COMPANY_PHONE=+201129437175
NEXT_PUBLIC_COMPANY_PHONE_DISPLAY=011 29437175
NEXT_PUBLIC_COMPANY_EMAIL=
NEXT_PUBLIC_COMPANY_ADDRESS=
NEXT_PUBLIC_WORKING_HOURS=
NEXT_PUBLIC_WHATSAPP_NUMBER=201129437175
